#spacing {
    margin-top: 50px;
    height: 100%;
    position: relative;
}

#headerImg {
    padding: 8px;
    height: 300px;
    display: table;
    width: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

#parkName {
    font-size: calc(18px + 2vw);
    display: table-cell;
    white-space: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center; 
    color: black;
    -webkit-text-stroke-width: calc(0.75px + 0.05vw);
    -webkit-text-stroke-color: white;
    vertical-align: middle;
}

#titlebar {
    width: 100%;
    background-color: black;
    height: 50px;
}

#titletext {
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

.txtblock {
    color: 	#404040;
    padding-top: 5px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 7px;
}


.boldtxt {
    color: black;
    font-weight: bold;
}

.boldtxtlink {
    color: 343a40;
    font-weight: bold;
}

.boldtxtlink:hover {
    color: 343a40;
    font-weight: bold;
    text-decoration: underline;
}


.organizer {
    display: inline-block;
    width: 100%;
}

.sidebar {
    margin-top: 32px;
    float: right;
    max-width: 400px;
    min-width: 150px;
    width: 30%;
    padding: 8px;
    padding-right:  calc(10px + 2vw);
}

.sectiontitle {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

.alerticonstyle {
    height: 17px;
    width: 17px;
    margin-right: 4px;
    margin-top: 0px;
    padding-top: 0px;
}

.tab {
    margin-left: 20px;
}

#sectionButtons {
    float: right;
}


#des {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
}

#camp {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
    display: none;
}

#reading {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
    display: none;
}

#news {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
    display: none;
}

#articles {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
    display: none;
}

#events {
    width: 60%;
    margin: 20px;
    float: left;
    margin-top: 35px;
    display: none;
}