<!DOCTYPE html>
<html lang = "en">
<head> 
       
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advanced Search</title>
    <link rel="stylesheet" href="../static/css/filter_style.css">

</head>
<body>

    {% extends "template.html" %}
    {% block content %}
    <div id="spacing">
        <div id="sidebar">
            
        </div>
        <div id="maincontent">
            <script>
                for (i = 0; i < {{numentries}}; i++) {
                    var panel = document.createElement("p");
                    var node = document.createTextNode({{value|tojson}}[i]['fullName']);
                    console.log({{value|tojson}}[i]['states']);
                    panel.appendChild(node);
    
                    var element = document.getElementById("maincontent");
                    element.appendChild(panel);
                }
            </script>
        </div>

    </div>
    {% endblock %}
  </body>
</html>
