<!DOCTYPE html>
<html lang = "en">
<head> 
       
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>National Parks Kiosk</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/index_style.css') }}">

</head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="bg">
      <div id="welcome">Welcome!</div>
      <div class="active-pink-3 active-pink-4 mb-4" id="centered">
          <form action='/allparks' method='post'>
            <input class="form-control" type="text" placeholder="Begin your search here" name="searchterms" aria-label="Search">
          </form>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
