<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{park_data[0]["fullName"]}}</title>
    <link rel="stylesheet" href="../static/css/park_style.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div id="spacing"></div>

    <div id="headerImg" style="background-image: url({{image}})">
        <div id="parkName">
            {{park_data[0]["fullName"]}} 
        </div>
    </div>
    <div id="titlebar">
        <div id="titletext">Park Information</div>
    </div>
    <div id="organizer">
        
        <div class="container" id="des">
            <div class="sectiontitle">Overview:</div>
            <div class="txtblock">
                    {{park_data[0]["description"]}}
            </div>
            <div class="txtblock">
                    {{park_data[0]["directionsInfo"]}}
            </div>
            <div class="row">
                <div class="col-sm">
                    
                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="sectiontitle">Alerts:</div>
            <div class="txtblock" id="alert"></div>
            <div class="sectiontitle">Operating Hours:</div>
            <div class="txtblock">
                <div class="tab"><b>Sunday: </b><span>{{oh_data[0]}}</span></div>
                <div class="tab"><b>Monday: </b><span>{{oh_data[1]}}</span></div>
                <div class="tab"><b>Tuesday: </b><span>{{oh_data[2]}}</span></div>
                <div class="tab"><b>Wednesday: </b><span>{{oh_data[3]}}</span></div>
                <div class="tab"><b>Thursday: </b><span>{{oh_data[4]}}</span></div>
                <div class="tab"><b>Friday: </b><span>{{oh_data[5]}}</span></div>
                <div class="tab"><b>Saturday: </b><span>{{oh_data[6]}}</span></div>
            </div>

        </div>
    </div>

    <script>
        var alertblock = document.createElement("div");
        console.log({{alert_data|tojson}});
        if ( {{alert_data|tojson}}["total"] == 0)
        {
            var alerttext = document.createTextNode("No alerts at this time");
            alertblock.appendChild(alerttext);
        }
        else {
            for (i = 0; i < {{alert_data|tojson}}["total"]; i++)
            {
                // image
                var alerticon = document.createElement("IMG");
                alerticon.src = "/static/images/alerticon.png";
                alerticon.className = "alerticonstyle";

                var titlenode = document.createElement("div");
                var alerttitle = document.createTextNode({{alert_data|tojson}}["data"][i]["title"]);
                titlenode.className = "boldtxt";
                titlenode.appendChild(alerticon);
                titlenode.appendChild(alerttitle);
                
                var textnode = document.createElement("div");
                var alerttext = document.createTextNode({{alert_data|tojson}}["data"][i]["description"]);
                textnode.className = "txtblock";
                textnode.appendChild(alerttext);
                alertblock.appendChild(titlenode);
                alertblock.appendChild(textnode);
                var enter = document.createElement("br");
                alertblock.appendChild(enter);
            }
        }
        var element = document.getElementById("alert");
        element.appendChild(alertblock);
    </script>
    {% endblock %}
  </body>
</html>